<header>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <h6 class="dropdown-header">Adult Programs</h6>
              <a class="dropdown-item" href="#">Learn to Row</a>
              <a class="dropdown-item" href="#">Masters</a>
              <a class="dropdown-item" href="#">Collegiate</a>
              <a class="dropdown-item" href="#">Private Lessons</a>
              <a class="dropdown-item" href="#">Corporate</a>
              <a class="dropdown-item" href="#">Visiting Crews</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Youth Programs</h6>
              <a class="dropdown-item" href="#">Junior Programming</a>
              <a class="dropdown-item" href="#">Summer Junior Rowing Camps</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Membership
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Why ARC?</a>
              <a class="dropdown-item" href="#">Becoming a Member</a>
              <a class="dropdown-item" href="#">Join Now</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regattas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">The Heart of Texas</a>
              <a class="dropdown-item" href="#">Texas Rowing Championships</a>
              <a class="dropdown-item" href="#">Head of the Colorado</a>
              <a class="dropdown-item" href="#">Winter Warrior</a>
              <a class="dropdown-item" href="#">Firecracker 500</a>
              <a class="dropdown-item" href="#">Town Lake Ladder</a>
              <a class="dropdown-item" href="#">ARC Hat Race</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Outreach Programs</a>
              <a class="dropdown-item" href="#">National Learn to Row Day</a>
              <a class="dropdown-item" href="#">Rowing Education</a>
              <a class="dropdown-item" href="#">Lake Stewardship</a>
              <a class="dropdown-item" href="#">Veteran Programs</a>
              <a class="dropdown-item" href="#">Bats and Barge Tour</a>
              <a class="dropdown-item" href="#">Links</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Coaches, Staff, Board</a>
              <a class="dropdown-item" href="#">Facilities</a>
              <a class="dropdown-item" href="#">FAQs</a>
              <a class="dropdown-item" href="#">Members Only Information</a>
              <a class="dropdown-item" href="#">Members Only</a>
            </div>
        </li>
      </ul>
      <div class="secondary-nav-items my-2 my-lg-0">
        <button class="btn btn-secondary my-2" type="submit">
          <a href="https://clients.mindbodyonline.com/asp/main_enroll.asp?fl=true&tabID=101">
            Login
          </a>
        </button>
        <button class="btn btn-tertiary my-2" type="submit">Donate</button>
      </div>
    </div>
  </nav>
</header>