<header>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Regattas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
      <div class="secondary-nav-items my-2 my-lg-0">
        <button class="btn btn-secondary my-2" type="submit">Login</button>
        <button class="btn btn-tertiary my-2" type="submit">Donate</button>
      </div>
    </div>
  </nav>
</header>