<div class="rowing-programs-container">
  <div class="card container">
    <h4 class="card-title">Novice Crew (Competitive)</h4>
    <div class="row">
      <div class="col-8">
        <p>
          The fall program runs August through mid-December. Rowers in their first year of competition start on the Novice squad
          and should refer to the Novice practice times and race schedule. After a year of racing, rowers move to the varsity squad. 
          Rowers from our program have gone on to row in college and on scholarship, coach high school and college rowing, and have
          won numerous Youth National Championship titles. Discover your potential this fall! PE credit is available for both varsity
          and novice teams (read below for AISD PE information). Fall regattas include the Head of the Braozs and Head of the 
          Colorado.
        </p>
        <p>
          Rowers must register online to secure a place in the program. Rowers need to also fill out a registration packet and bring
          with you to the first class day.
        </p>
        <div class="row no-gutters card-options">
          <div class="col-4 option">
            <p class="option-title text-center">Program fee:</p>
            <p class="option-text text-center">$780</p>
          </div>
          <div class="col-4 option">
            <p class="option-title text-center">Rowing Experience Required:</p>
            <p class="option-text text-center">NONE</p>
          </div>
          <div class="col-4 option">
            <p class="option-title text-center">Student Grade Range:</p>
            <p class="option-text text-center">8th - 12th</p>
          </div>
        </div>
        <a class="btn btn-tertiary" href="https://clients.mindbodyonline.com/asp/main_enroll.asp?fl=true&tabID=8">Register</a>
      </div> 
      <div class="col-4">
        <p class="schedule-text-alt">Practice Schedule</p>
        <p><strong>Monday:</strong>&nbsp;<span class="schedule-text-alt">5:15pm - 7:15pm</span></p>
        <p><strong>Tuesday:</strong>&nbsp;<span class="schedule-text-alt">5:15pm - 7:15pm</span></p>
        <p><strong>Thursday:</strong>&nbsp;<span class="schedule-text-alt">5:15pm - 7:15pm</span></p>
        <p><strong>Saturday:</strong>&nbsp;<span class="schedule-text-alt">9:30am - 12:30pm</span></p>
      </div>
    </div>
  </div>
</div>