<div class="rowing-programs-container">
  <div class="card w-75">
      <div class="card-body">
        <h4 class="card-title font-weight-bold">Novice Crew (Competitive)</h4>

        <div class="row">
            <div class="col-8">
              <p>The fall program runs August through mid-December. Rowers in their first year of competition start on the Novice squad
                and should refer to the Novice practice times and race schedule. After a year of racing, rowers move to the varsity squad. 
                Rowers from our program have gone on to row in college and on scholarship, coach high school and college rowing, and have
                won numerous Youth National Championship titles. Discover your potential this fall! PE credit is available for both varsity
                and novice teams (read below for AISD PE information). Fall regattas include the Head of the Braozs and Head of the 
                Colorado.
              </p>
              <p>Rowers must register online to secure a place in the program. Rowers need to also fill out a registration packet and bring
                with you to the first class day.
              </p>
              </div>
            <div class="col-4">
              <p class="schedule-text">Practice Schedule</p>
              <p><strong>Monday:</strong> 5:15pm - 7:15pm</p>
              <p><strong>Tuesday:</strong> 5:15pm - 7:15pm</p>
              <p><strong>Thursday:</strong> 5:15pm - 7:15pm</p>
              <p><strong>Saturday:</strong> 9:30am - 12:30pm</p>
          </div>

            <div class="row vdivide">
              <div class="col-4">
                <p class="text-center">Program Fee</p>
                <h3 class="text-center">$780</h3>
              </div>
              <div class="col-4">
                <p class="text-center">Rowing Experience Required:</p>
                <h3 class="text-center">NONE</h3>
              </div>
              <div class="col-4">
                <p class="text-center">Student Grade Range:</p>
                <h3 class="text-center">8th - 12th</h3>
              </div>
            </div>
      
      <div class="container">
        <button class="btn btn-tertiary my-2 ml-3" type="submit">
          <a href="https://clients.mindbodyonline.com/asp/main_enroll.asp?fl=true&tabID=8">
            Register
          </a>
        </button>
      </div>
    </div>
  </div>
</div>