@import '../../../../variables';

footer {
    background-color: $brand-1;
    color: $text-4;
    padding: 50px 0px;

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}

.fa {
    color: white;
    padding-right: 35px;
}