<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm">
          <h5>About ARC</h5>
          <p>Why ARC?</p>
          <p>Coaches, Staff, Board</p>
          <p>Facilities</p>
          <p>Event Rental</p>
          <p>Donate</p>
          <p>FAQs</p>
          <p>Contact Us</p>
        </div>
        <div class="col-sm">
          <h5>Rowing Resources</h5>
          <p>United States Rowing Association</p>
          <p>International Rowing Federation</p>
          <p>Row2k</p>
          <p>ARC NAV Navigation Lights</p>
          <p>JL Racing</p>
          <p>Syykes Racing NA</p>
        </div>
        <div class="col-sm">
          <h5>Quick Links</h5>
          <p>Class Registration</p>
          <p>Member Info</p>
          <p>Event Calendar</p>
          <p>Guest Rower Policy</p>
        </div>
        <div class="col-sm">
          <h5>Visit</h5>
            <p>74 Trinity St,</p>
            <p>Austin, TX 78701</p>
            <p class="pb-5">Tel: (512) 472-0726</p>
            <h5 >FOLLOW US</h5>
          <a href="https://www.facebook.com/AustinRowing/"><i class="fa fa-facebook-f"></i></a>
          <a href="https://twitter.com/austinrowing"><i class="fa fa-twitter"></i></a>  
          <a href="https://www.linkedin.com/company/austin-rowing-club/"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.pinterest.com/rowaustin/"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="col-sm pt-4">       
            <p class="uppercase">Open 7 Days A Week</p>
                <p>7AM — 9PM</p>
                <br>
        </div> 
    </div>
    
  </div>

  <hr class="color">

  <div class="container">
      <div class="row">
        <div class="col-sm">
            <h6>ARC</h6>
        </div>
        <div class="col-sm">
            <h6>PRIVATE POLICY</h6>
        </div>
        <div class="col-sm">
            <h6>TERMS & CONDITIONS</h6>
        </div>
        <div class="col-sm">
            <h6>COPYRIGHT NOTIFICATIONS</h6>
        </div>
        <div class="col-sm">
            <h6> DESIGNED BY SOGETI</h6>
        </div>
      </div>
    </div> 
</footer>
