<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <h5>ABOUT ARC</h5>
          <p>Why ARC?</p>
          <p>Coaches, Staff, Board</p>
          <p>Facilities</p>
          <p>Event Rental</p>
          <p>Donate</p>
          <p>FAQs</p>
          <p>Contact Us</p>
      </div>
      <div class="col-sm">
          <h5>ROWING RESOURCES</h5>
          <p>United States Rowing Association</p>
          <p>International Rowing Federation</p>
          <p>Row2k</p>
          <p>ARC NAV Navigation Lights</p>
          <p>JL Racing</p>
          <p>Syykes Racing NA</p>
      </div>
      <div class="col-sm">
          <h5>QUICK LINKS</h5>
          <p>Class Registration</p>
          <p>Member Info</p>
          <p>Event Calendar</p>
          <p>Guest Rower Policy</p>
      </div>
      <div class="col-sm">
          <h5>VISIT</h5>
            <p>74 Trinity St,</p>
            <p>Austin, TX 78701</p>
            <p>Tel: (512) 472-0726</p>
            <p>OPEN 7 DAYS A WEEK</p>
            <p>7AM — 9PM</p>
            <br>
          <h3>FOLLOW US</h3>
      </div>
    </div>
  </div> 

  <hr class="color">

  <div class="container">
      <div class="row">
        <div class="col-sm">
            <h6>ARC</h6>
        </div>
        <div class="col-sm">
            <h6>PRIVATE POLICY</h6>
        </div>
        <div class="col-sm">
            <h6>TERMS & CONDITIONS</h6>
        </div>
        <div class="col-sm">
            <h6>COPYRIGHT NOTIFICATIONS</h6>
        </div>
        <div class="col-sm">
            <h6> DESIGNED BY SOGETI</h6>
        </div>
      </div>
    </div> 
</footer>
