<footer>
    <div class="row">
        <div class="column">
          <h3>ABOUT ARC</h3>
          <p>Why ARC?</p>
          <p>Coaches, Staff, Board</p>
          <p>Facilities</p>
          <p>Event Rental</p>
          <p>Donate</p>
          <p>FAQs</p>
          <p>Contact Us</p>
        </div>
        <div class="column">
          <h3>ROWING RESOURCES</h3>
          <p>United States Rowing Association</p>
          <p>International Rowing Federation</p>
          <p>Row2k</p>
          <p>ARC NAV Navigation Lights</p>
          <p>JL Racing</p>
          <p>Syykes Racing NA</p>
        </div>
        <div class="column">
            <h3>QUICK LINKS</h3>
            <p>Class Registration</p>
            <p>Member Info</p>
            <p>Event Calendar</p>
            <p>Guest Rower Policy</p>
          </div>
          <div class="column">
            <h3>VISIT</h3>
            <p>74 Trinity St,</p>
            <p>Austin, TX 78701</p>
            <p>Tel: (512) 472-0726</p>
            <p>OPEN 7 DAYS A WEEK</p>
            <p>7AM — 9PM</p>
            <br>
            <h3>FOLLOW US</h3>
          </div>
      </div>

  <hr class="color">
  
  <div class="row2">
      <div class="column2">
        <h3>ARC</h3>
      </div>
      <div class="column2">
        <h3>PRIVATE POLICY</h3>
      </div>
      <div class="column2">
        <h3>TERMS & CONDITIONS</h3>
      </div>
      <div class="column2">
        <h3>COPYRIGHT NOTIFICATIONS</h3>
      </div>
      <div class="column2">
        <h3> DESIGNED BY SOGETI</h3>
      </div>
    </div>

</footer>
