<div id="heroCarouselControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#heroCarouselControls" data-slide-to="0" class="active"></li>
      <li data-target="#heroCarouselControls" data-slide-to="1"></li>
      <li data-target="#heroCarouselControls" data-slide-to="2"></li>
    </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="content-section hero-content align-center">
        <h1>Austin Rowing Club</h1>
        <p>Your row. Your club. Your community.</p>
        <a class="btn btn-secondary" href="#">Learn More</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="content-section hero-content align-center">
        <h1>Austin Rowing Club</h1>
        <p>Your row. Your club. Your community.</p>
        <a class="btn btn-secondary" href="#">Learn More</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="content-section hero-content align-center">
        <h1>Austin Rowing Club</h1>
        <p>Your row. Your club. Your community.</p>
        <a class="btn btn-secondary" href="#">Learn More</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#heroCarouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>