<div class="features-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <img class="img-fluid" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" />
        <div class="content-section">
          <h5>Adult Programs</h5>
          <a href="">Feature No1</a>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <img class="img-fluid" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" />
        <div class="content-section">
          <h5>Adult Programs</h5>
          <a href="">Feature No1</a>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <img class="img-fluid" src="http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg" />
        <div class="content-section">
          <h5>Adult Programs</h5>
          <a href="">Feature No1</a>
        </div>
      </div>
    </div>
  </div>
</div>