.banner-container {
  background-image: url("http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg");
  background-size: cover;
  padding: 20px 0 10px;
  
  .banner-content {
    background-color: rgba(173, 216, 230, .5);
    color: #FFF;
    margin: 0 auto;
    max-width: 85%;

    h1 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 25px;

      @media (min-width: 992px) {
        font-size: 24px;
      }
    }

    @media (min-width: 768px) {
      max-width: 60%;
      padding: 40px 0;
    }

    @media (min-width: 992px) {
      padding: 50px 0 20px;
    }
  }

  @media (min-width: 992px) {
    padding: 40px 0;
  }
}