<div class="highlights-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="content-section large">
          <h4>Seasonal Highlights</h4>
          <p>(e.g. Junior Summer Camp Registration). The Austin Rowing Club welcomes all middle school and high school students for a week of FUN on the water!</p>
          <a class="btn btn-secondary" href="#">Register Now</a>
        </div>
      </div>
      <div class="img-section col-12 col-md-6">
      </div>
    </div>
  </div>
</div>
