@import '../../../../variables';

.highlights-container {
  background-color: $brand-1;
  margin-bottom: 20px;
  color: $text-4;

  .img-section {
    background-image: url("http://wowslider.com/sliders/demo-93/data1/images/sunset.jpg");
    background-size: cover;
  }

  @media (min-width: 992px) {
    margin-bottom: 60px;
  }
}