$brand-1: #193667;
$brand-2: #A43534;
$brand-3: #D6AB00;
$brand-4: rgba(99, 142, 204, .5);

$text-1: #212B36;
$text-2: #193667;
$text-3: #AAAAAA;
$text-4: #FFFFFF;

$ui-1: #FFFFFF;
$ui-2: #D8D8D8;
$ui-3: #C4CDD5;
$ui-4: #BDBCBD;
$ui-5: #EEF2F5;
$ui-6: #9CAFC3;
$ui-7: #444444;



