<div class="highlights-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="content-section large">
          <h4>Contact Us</h4>
          <p>Many people has the notion that enlightenment is one state. Many also believe that when it is attained, a person is forever in that state.</p>
          
          <a class="btn btn-tertiary" href="#">SUBMIT</a>
        </div>
      </div>
      <div class="img-section col-12 col-md-6">
      </div>
    </div>
  </div>
</div>
